# Environment files — WAJIB
.env
.env.local
.env.development
.env.production
.env*.local

# Dependencies
node_modules/

# Build output
dist/
dist-ssr
.vercel/

# Debug & temp files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
temp_docx_ext/

# OS files
.DS_Store
Thumbs.db

# Drizzle (migration files boleh masuk git, tapi bukan credentials)
# drizzle/ → boleh masuk git

*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vercel
